<footer>
    <p>
        All images and descriptions taken from the <a href="https://apod.nasa.gov/apod/lib/about_apod.html" target="_blank" class="footer-link">NASA APOD site</a> using the <a href="https://api.nasa.gov/" target="_blank" class="footer-link">NASA API.</a>
        Please consult the NASA APOD site regarding use of copyrighted images.
    </p>
</footer>
</body>
</html>