<div class="navbar">
    <p class="logo" >Logo</p>
    <ul class="header-links">
        <li>
            <form class="date-search-form" action="#" method="get">
                <input type="date" class="date-search" name="imageDate" value="<%= date %>">
            </form>
        </li>
        <li><a href="#"></a>View Favorites</li>
        <li><a href="#"></a>Log In/Sign Up</li>
    </ul>
</div>
