<nav>
    <ul class="navbar-link-list">
        <li>
            <form action="/images?imageDate=imageDate" method="get" class="form-search">
                <input type="date" class="date-search" name="imageDate" value="<%= imageDate %>" min="1995-06-17" max="<%= today %>">
                <button type="submit" class="btn-search"><span class="material-symbols-outlined magnifying-glass">search</span></button>
            </form>
        </li>
        <li>
            <%- include('add-to-favorites.ejs') %>
        </li>
    </ul>
    <ul class="navbar-link-list">
        <li><a href="/images?imageDate=<%= today %>" class="navbar-link">Today's Image</a></li>
        <li><a href="/favorites" class="navbar-link">View Favorites</a></li>
        <% if (!isLoggedIn) { %>
            <li>
                <a href="/login" class="navbar-link">Sign In</a> / <a href="/signup" class="navbar-link">Sign Up</a>
            </li>
        <% } else { %>
            <li>
                <a href="/logout" class="navbar-link">Log Out</a>
            </li>
        <% } %>
    </ul>
</nav>