<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>
<%- include('../include/navbar.ejs') %>

<main>
    <div class="auth">
        <h1>Log In</h1>
        <form action="/login" method="post" class="auth-form">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <div class="auth-submit">
                <button type="submit" class="auth-button">Log In</button>
            </div>
        </form>
        <a href="/signup" class="auth-form-link">or <strong>Create new account</strong></a>
    </div>
    <% if (errorMessage === "") { %>
        <p><%= errorMessage %></p>
    <% }; %>
</main>

