<%- include('../include/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>
<%- include('../include/navbar.ejs') %>
<main>
    <div style="margin-left: 5%;">
        <h2>Thanks for signing up!</h2>
        <p>A verification link has been sent to your email, please check your inbox and click on the link to confirm your email before signing in.</p>
        <a href="/images?imageDate=<%= imageDate %>" class="body-link">Back to images</a>    
    </div>
</main>

<%- include('../include/footer.ejs') %>
