<%- include('../include/head.ejs') %>
</head>
<%- include('../include/navbar.ejs') %>

<body>
    <div class="fade-container" style="height: 0.5vh;">
        <div class="fade" id="navbar-title-fade"></div>
    </div>
<main>
    <div class="title" style="justify-content: center;">
        <h1>Favorites</h1>
    </div>
</main>

<%- include('../include/footer.ejs') %>
