main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.auth {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}
  
.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
}
  
.auth-form > * {
    margin: 0.5vh;
}
  
.auth-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.auth-button {
    color: var(--font-color);
    background-color: var(--auth-button-color);
    border: 5px solid var(--auth-button-color);
    border-radius: 10px;
    width: 33%;
    font-weight: bold;
    margin-top: 10px;
}
  
.auth-form-link {
    color: #6883fd;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
}
  
.signup-error {
    margin-top: 20px;
    background-color: #d187a0;
    border: 2px solid #b10000;
    color: #a00000;
    padding: 5px;
    border-radius: 10px;
}