@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0px;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

main {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #190033;
  color: #DCDCDC;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.content-bottom {
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
 
.nasa-image {
  max-height: 500px;
  max-width: 750px;
  width: auto;
}

.image-text {
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: auto;
}

.browse-div {
  border-radius: 100%;
  margin: 10vw;
  display: flex;
  flex-direction: column;
}

.browse-button {
  color: #DCDCDC;
}

.navbar {
  background-color: #2E2E2E;
  display: flex;
  position: fixed;

}

.header-links {
  display: flex;
}